.version {
  background-color: green;
}

.ihl {
  background-color: blue;
}

.tos {
  background-color: pink;
}

.tl {
  background-color: yellow;
}

.id {
  background-color: blueviolet;
}

.fragOff {
  background-color: teal;
}

.ttl {
  background-color: hotpink;
}

.protocol {
  background-color: lawngreen;
}

.checksum {
  background-color: salmon;
}

.source {
  background-color: royalblue;
}

.destination {
  background-color: orange;
}

.options {
  background-color: cyan;
}