.ip {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  font-family: 'Courier New', Courier, monospace;

  .card {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
      0 6px 20px rgba(0, 0, 0, 0.19);
  }

  .IpDiagram {
    @extend .card;

    .title {
      font-weight: bold;
      font-size: 1.3rem;
      text-align: center;
    }

    .diagram {
      display: grid;
      grid-template-columns: repeat(32, 1fr);
      gap: 2px;

      button {
        color: black;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
          0 6px 20px rgba(0, 0, 0, 0.19);
      }

      .payload {
        grid-column: span 32;
        border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: violet;
        height: 50px;
      }
    }
  }

  .IpExplain {
    @extend .card;

    .title {
      font-weight: bold;
      font-size: 1.3rem;
      text-align: center;
    }

    .explain {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 2px;

      .dec {
        text-align: center;
      }
    }
  }

  .errors {
    @extend .card;

    .title {
      font-weight: bold;
      font-size: 1.3rem;
      text-align: center;
    }

    .error {
      color: red;
    }
  }

  .notes {
    @extend .card;

    .title {
      font-weight: bold;
      font-size: 1.3rem;
      text-align: center;
    }

    .note {
      color: black;
    }
  }
}